.welcome {
  font-size: 50px;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

.userPage {
  display: flex;
}

.usersSection {
  height: 680px;
}

.userBox {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 10px;
  max-width: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #ccc;
  cursor: pointer;
  margin-right: 50px;
}

.userBox:hover,
.userBox.active {
  background-color: aliceblue;
}

.userhead {
  display: flex;
}

.name {
  font-weight: 600;
}

.image img {
  margin-right: 10px;
  border-radius: 50%;
  background: beige;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 10px;
  box-shadow: 1px 1px 1px #ccc;
}

.loaderPlaceholder {
  width: 100%;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: antiquewhite;
  border-radius: 10px;
}

.loader {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: #25b09b;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}
